{% for msg in messages %}
<div class="alert alert-info alert-dismissible fade show" role="alert">
  {{msg}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}


<script>
  document.addEventListener("DOMContentLoaded", function() {
      var alerts = document.querySelectorAll('.alert');
      alerts.forEach(function(alert) {
        var timeout = alert.dataset.timeout || 5000; // Default timeout is 5000 milliseconds (5 seconds)
        setTimeout(function() {
          alert.remove();
        }, timeout);
      });
    });
  
</script>
